.switch-container {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
  margin: 0 .5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 2.5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.3s;
  opacity: 0.4;
}

input:checked + .slider {
  background-color: #4f8ce7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4f8ce7;
}

input:checked + .slider:before {
  transform: translate(18px, -50%);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}