.video-player {
  border-radius: 15px;
  box-shadow: 0px 3px 3px 3px #ccc;
  width: 70%;
  margin: 1rem;
  padding: 0.7rem;
}

.video-player h1 {
    margin: 0;
    font-size: 1.7rem;
}

.video-player h4 {
    margin: 0;
    font-size: 0.7rem;
}

.video-player p {
  font-size: 0.75rem;
}
